body {
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
  background-color: #1a2b4e;
}

.App {
  margin: 0 auto;
  text-align: center;
  max-width: 1024px;
  min-height: 100vh;
  padding: 0 1em;
}

input[type="text"] {
  margin-right: 0.4em;
}

.galleryImages {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0.8em 0 0;
}

.galleryImageLink {
  display: block;
  width: 30%;
  height: 200px;
  margin-bottom: 0.8em;
  position: relative;
}

.galleryImage {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.transparent {
  opacity: 0;
}

.red,
.green {
  padding: 0.2em;
  border-radius: 4px;
}

.red {
  background-color: #ff2222;
  color: #1a1a1a;
}

.green {
  background-color: #30ff30;
  color: #1a1a1a;
}

.red a,
.green a {
  color: #1a1a1a;
}

form {
  display: flex;
  justify-content: left;
  flex-direction: column;
  max-width: 412px;
  margin: 0 auto;
  position: relative;
}

form input {
  display: block;
}

form input[type="file"],
form input[type="submit"] {
  cursor: pointer;
}

#fileInput {
  margin-bottom: 0.8em;
}

#upload {
  width: 44%;
}

.lds-ring {
  position: absolute;
  width: 80px;
  height: 200px;
  margin: 0;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form .lds-ring {
  height: 80px;
  left: 65%;
  top: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #CCACDC;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #CCACDC transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .galleryImages {
    flex-direction: column;
    align-items: center;
  }

  .galleryImageLink {
    width: 90%;
    max-height: none;
    margin-bottom: 0.8em;
  }
}
